<nav>
  <div class="nav-desktop">
    <div class="nav-left">
      <a href="{{ '/' | relative_url }}">studio haider timur</a>
    </div>

    <div class="nav-right">
      <a href="{{ '/artistic/' | relative_url }}" class="{% if page.url == '/artistic/' %}active{% endif %}">artistic</a>
      <a href="{{ '/commissioned/' | relative_url }}" class="{% if page.url == '/commissioned/' %}active{% endif %}">commissioned</a>
      <a href="{{ '/collaborations/' | relative_url }}" class="{% if page.url == '/collaborations/' %}active{% endif %}">collaborations</a>
      <a href="{{ '/talks/' | relative_url }}" class="{% if page.url == '/talks/' %}active{% endif %}">talks</a>
      <a href="{{ '/contact' | relative_url }}" class="{% if page.url == '/contact/' or page.url == '/contact.html' %}active{% endif %}">&#9999;&#65038;</a>
    </div>
  </div>

  <div class="nav-mobile-menu" id="nav-mobile-menu">
    <a href="{{ '/' | relative_url }}">studio haider timur</a>
    <a href="{{ '/artistic/' | relative_url }}" class="{% if page.url == '/artistic/' %}active{% endif %}">artistic</a>
    <a href="{{ '/commissioned/' | relative_url }}" class="{% if page.url == '/commissioned/' %}active{% endif %}">commissioned</a>
    <a href="{{ '/collaborations/' | relative_url }}" class="{% if page.url == '/collaborations/' %}active{% endif %}">collaborations</a>
    <a href="{{ '/talks/' | relative_url }}" class="{% if page.url == '/talks/' %}active{% endif %}">talks</a>
    <a href="{{ '/contact' | relative_url }}" class="{% if page.url == '/contact/' or page.url == '/contact.html' %}active{% endif %}">contact &#9999;&#65038;</a>
  </div>
</nav>