<nav>
  <div class="nav-left">
    <a href="{{ '/' | relative_url }}">studio haider timur</a>
  </div>

  <div class="nav-right">
    <a href="{{ '/about' | relative_url }}">about ✧</a>
    <a href="{{ '/contact' | relative_url }}">contact &#9999;&#65038;</a>
  </div>

  <div class="nav-mobile-menu" id="nav-mobile-menu">
    <a href="{{ '/' | relative_url }}">studio haider timur</a>
    <a href="{{ '/about' | relative_url }}">about ⇲</a>
    <a href="{{ '/contact' | relative_url }}">contact &#9999;&#65038;</a>
  </div>
</nav>