---
layout: default
---
<article class="project">
  <h1>{{ page.title }}</h1>
  
  {% if page.tags %}
   <ul class="project-tags">
    {% for tag in page.tags %}
    <li><a href="{{ '/' | relative_url }}?tag={{ tag }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  <div class="project-body">
    {{ content }}
  </div>

  {% if page.images %}
    <div class="project-gallery">
      {% for img in page.images %}
        <figure>
          <img src="{{ img.src | relative_url }}" alt="{{ img.alt }}">
          {% if img.caption %}
            <figcaption>{{ img.caption }}</figcaption>
          {% endif %}
        </figure>
      {% endfor %}
    </div>
  {% endif %}
  
  <div class="lightbox" id="lightbox">
  <span class="lightbox-close" id="lightbox-close">&times;</span>
  <img src="" alt="" id="lightbox-img">
  </div>

</article>